@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    SE 2.4<br />
    Software Engineering Department, UET Lahore<br />
    <abbr title="Phone">P:</abbr>
    0900-78601
</address>
